:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-btn-hover-color: #188ce8;
  --header-border-color: #ececec;
  --logo-header-color: #000000;
  --primbg-secondbtn-logofooter-address-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg: #2f303a;
  --hero-bg-color: #c4c4c4;
  --portfolio-card-border-color: #eeeeee;
  --soc-icon-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: var(--primbg-secondbtn-logofooter-address-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------------header-------------- */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.nav-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 94px;
}

.logo-color-header {
  color: var(--logo-header-color);
}

.header-text {
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
}

.header-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.header-mail {
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav .link:hover,
.header-contacts .link:hover,
.header-nav .link:focus,
.header-contacts .link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

/* ---------------hero---------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primbg-secondbtn-logofooter-address-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primbg-secondbtn-logofooter-address-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--hero-btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------------Переваги------------- */

.advantages {
  padding-top: 94px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.feature-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram:before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut:before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-list .title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-list-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------sections------------------- */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------Діяльність--------------- */

/* --------------Команда--------------- */

.staff {
  background-color: var(--secondary-bg-color);
}

.staff-list {
  display: flex;
}

.staff-card:not(:last-child) {
  margin-right: 30px;
}

.staff-card {
  flex-basis: 100% / 4;
  background: var(--primbg-secondbtn-logofooter-address-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-text-block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}

.staff-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.staff-list-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.staff-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.staff-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.staff-soc-icon {
  fill: var(--soc-icon-color);
}

.staff-soc-link:hover,
.staff-soc-link:focus {
  background-color: var(--accent-color);
}

.staff-soc-link:hover .staff-soc-icon,
.staff-soc-link:focus .staff-soc-icon {
  fill: var(--primbg-secondbtn-logofooter-address-color);
}

/* ------------------Клієнти--------------- */

.client-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--soc-icon-color);
  border-radius: 4px;
  fill: var(--soc-icon-color);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* ------------------footer----------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg);
}

.footer-blocs {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.logo-footer {
  padding-bottom: 20px;
}

.logo-color-footer {
  color: var(--primbg-secondbtn-logofooter-address-color);
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--primbg-secondbtn-logofooter-address-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link:hover,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-social-title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primbg-secondbtn-logofooter-address-color);
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-icon {
  fill: var(--primbg-secondbtn-logofooter-address-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-link:hover .staff-soc-icon,
.footer-soc-link:focus .staff-soc-icon {
  fill: var(--primbg-secondbtn-logofooter-address-color);
}

/* -------------PORTFOLIO------------- */
/* -------------button-------------- */

.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 50px;
}

.button {
  padding: 6px 22px;
  min-width: auto;
  display: inline-flex;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--primbg-secondbtn-logofooter-address-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------galery-------------- */

.galery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.galery-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.galery-item {
display: block;
}

.galery-item:hover,
.galery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--portfolio-card-border-color);
  border-bottom: 1px solid var(--portfolio-card-border-color);
  border-left: 1px solid var(--portfolio-card-border-color);
}

.galery-top-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.galery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
